/* reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #111114;
    color: #f0f0f5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 22%;
    /* prevent shrinking from tight spaces */
    min-width: 140px;
    height: 100vh;
    background: #111114;
    border-right: 1px solid #1e1e24;
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
    gap: 6px;
}

.sidebar-logo {
    width: 36px;
    height: 36px;
    background: #f0f0f5;
    border: 1px solid #2a2a36;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-logo span {
    font-size: 16px;
    font-weight: 700;
    color: #111114;
    letter-spacing: 1px;
}

.sidebar-top {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.sidebar-brand {
    font-size: 30px;
    font-weight: 600;
    color: #f0f0f5;
    letter-spacing: 1px;
}

.sidebar-search {
    width: 90%;
    height: 100px;
    background: #1e1e20;
    border: 1px solid #1e1e24;
    border-radius: 10px;
    margin-bottom: 5px;
}

.sidebar-nav {
    width: 90%;
    display: flex;
    /* vertical representation of nav wrapper */
    flex-direction: column;
    gap: 2px;
}

.sidebar-nav a {
    text-decoration: none;
    color: inherit;
}
.nav-item {
    display: flex;
    align-items: center;
    /* UPDWN|RL */
    padding: 9px 10px;
    broder-radius: 12px;
    /* dimmed coloring for "inactive" */
    color: #666677;
    cursor: pointer;
    transition: background 0.15s, color 0.15s;
    gap: 10px;
}

.nav-item:hover {
    background: #1a1a22;
    color: #f0f0f5;
    border-radius: 12px;
}

.nav-item.active {
    background: #1a1a22;
    color: #f0f0f5;
    border-radius: 12px;
    font-weight: 500;
}

/* main content to R */
.main {
    flex: 1px;
    /* use the rest sp4c*/
    padding: 17px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y:auto;
}

.header {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #f0f0f5;
}

.header p {
    font-size: 16px;
    color: #888899;
    margin-top: 4px;
    font-weight: normal;
    margin-left: 5px;
}

.sectors-row {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px;
}

#Sleep\ hrs {
    background-image: url('Sleep_hrs.png');
    background-size: cover;
    background-position: center;
}

#Gross\ Volume {
    background-image: url('Gross_volume.png');
    background-size: cover;
    background-position: center;
}

.sector {
    background: #141418;
    border: 1px solid #f0f0f5;
    border-radius: 40px;
    min-height: 240px;
    min-width: 300px;
    transition: border-color 0.2s;
}

.sector:hover {
    border-color: #2a2a36;
}

/* wrapper — only handles side by side layout */
.bottom-row {
    display: grid;
    grid-template-columns: 0.5fr 200px;
    gap: 50px;
    margin-top: 70px;
    align-items: start;
}

/* left card — style however you want */
.bottom-left {
    width: 940px;
    background: #141418;
    border: 1px solid #f0f0f5;
    border-radius: 40px;
    min-height: 500px;
    transition: border-color 0.2s;
}

.bottom-left:hover {
    border-color: #2a2a36;  /* blue hover */
}

/* right card — completely different style */
.bottom-right {
    width: 410px;
    background: #141418;
    border: 1px solid #f0f0f5;
    border-radius: 40px;
    min-height: 500px;
    transition: border-color 0.2s;
}

.bottom-right:hover {
    border-color: #2a2a36;  /* red hover */
}